In [1]:
# Define the function "say_hello" so it prints "Hello!" when called.
def say_hello():
    print("Hello!")

In [2]:
#call the function
say_hello()

Hello!

In [3]:
# Define the function "say_something" so it prints whatever is passed as the variable when called.
def say_something(something):
    print(something)

In [4]:
say_something("Hello World")

Hello World

In [5]:
Jane_says = "Hi, my name is Jane. I'm learning Python!"
say_something(Jane_says)

Hi, my name is Jane. I'm learning Python!

In [6]:
say_something("Jhair is the best")

Jhair is the best

In [7]:
jhair_says = "Hey, im the bes rapper alive"
say_something(jhair_says)

Hey, im the bes rapper alive

In [8]:
# Define a function that calculates the percentage of students that passed both # math and reading and prints the passing percentage to the output when the
# function is called.
def passing_math_percent(a, b):
    return a / float(b) * 100

In [9]:
passing_math_count = 29370
total_student_count = 39170

In [10]:
# Call the function.
passing_math_percent(passing_math_count, total_student_count)

74.9808526933878

In [11]:
####  PANDAS MAP() FUNCTION #####
# A list of my grades.
my_grades = ['B', 'C', 'B' , 'D']

In [12]:
# Import pandas.
import pandas as pd
# Convert the my_grades to a Series
my_grades = pd.Series(my_grades)
my_grades

0    B
1    C
2    B
3    D
dtype: object

In [14]:
# Change B to A, C to B and D to C.
# Formula: map("current_value_1" : "new_value_1",  "current_value_2" : "new_value_2", etc)
my_grades.map({'B': 'A', 'C': 'B', 'D': 'C'})

0    A
1    B
2    A
3    C
dtype: object

In [15]:
## Pandas format() function. ##
# Using the format() function.
my_grades = [92.34, 84.56, 86.78, 98.32]

for grade in my_grades:
    print("{:.0f}".format(grade))

92
85
87
98

In [ ]:
# Convert the numerical grades to a Series.
my_grades = pd.Series([92.34, 84.56, 86.78, 78.32])
my_grades

In [ ]:
# Format the grades to the nearest whole number percent.
my_grades.map("{:.0f}".format)